<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="keywords" content="学霸一对一官网，学霸1对1，在线教育，小学辅导，初中辅导，高中辅导" />
    <meta name="description" content="学霸1对1,国内中小学在线教育辅导一线品牌,10万学员的选择,20000位精英名师,资深教研团队,专注于小学、初中、高中的全科目在线1对1辅导,不限地域,量身定制,随时上课,提分快,收费低。0元试听！免费热线：4006-715-713" />
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <link rel="shortcut icon" href="../images/xueba-title.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../styles/base.css"/>
    <link rel="stylesheet" href="../styles/index.css"/>
    <title>暑假写照</title>
</head>

<div class="layout photoPage" id="body">
    <!--主要截图区域-->
    <div class="makePlace">
        <!--头部内容-->
        <div class="photoHead clearfix">
            <div class="photoleft">
                <div class="someone"></div>
                <p>的暑假写照</p>
                <div class="yourPhoto">
                    <p>“原来你是这样的</p>
                    <span class="someStyle"></span>”
                </div>
            </div>
            <div class="photoRight">
                <img src="../images/mainLogo_1.png" alt="">
            </div>
        </div>

        <!--上方被选择的标签-->
        <div class="beChoosed" style="display: none">
            <ul class="clearfix">
                <li>
                    <span></span>
                </li>
                <li>
                    <span></span>
                </li>
                <li>
                    <span></span>
                </li>
                <li>
                    <span></span>
                </li>
                <li>
                    <span></span>
                </li>
                <li>
                    <span></span>
                </li>
            </ul>
        </div>

        <!--选择你的形象和背景-->
        <div class="chooseOut" style="display: block">
            <!--选择形象-->
            <div class="commonChoose visualize_label" style="display: block;">
                <div class="picTitle">
                    <img src="../images/user.png" alt="">
                    <span>选择你的形象</span>
                </div>
                <ul class="chooseCon boyImage clearfix">
                    <li class="activeMan">
                        <span>艺术少年</span>
                        <b></b>
                    </li>
                    <li>
                        <span>网瘾少年</span>
                        <b></b>
                    </li>
                    <li>
                        <span>苦逼少年</span>
                        <b></b>
                    </li>
                    <li>
                        <span>佛系少年</span>
                        <b></b>
                    </li>
                    <li>
                        <span>运动少年</span>
                        <b></b>
                    </li>
                </ul>
                <ul class="chooseCon girlImage clearfix" style="display:none;">
                    <li class="activeMan">
                        <span>艺术少女</span>
                        <b></b>
                    </li>
                    <li>
                        <span>佛系少女</span>
                        <b></b>
                    </li>
                    <li>
                        <span>追星少女</span>
                        <b></b>
                    </li>
                    <li>
                        <span>吸猫少女</span>
                        <b></b>
                    </li>
                    <li>
                        <span>网瘾少女</span>
                        <b></b>
                    </li>
                </ul>
            </div>
            <!--选择背景-->
            <div class="commonChoose bg_label" style="display:none;">
                <div class="picTitle">
                    <img src="../images/bgIcon.png" alt="">
                    <span>选择你的背景</span>
                </div>
                <ul class="chooseBg clearfix">
                    <li>
                        <img src="../images/sbg1.png" alt="">
                        <b></b>
                    </li>
                    <li>
                        <img src="../images/sbg2.png" alt="">
                        <b></b>
                    </li>
                    <li>
                        <img src="../images/sbg3.png" alt="">
                        <b></b>
                    </li>
                    <li>
                        <img src="../images/sbg4.png" alt="">
                        <b></b>
                    </li>
                </ul>
            </div>
        </div>
        <!--形象和背景切换-->
        <div class="someMark clearfix" style="display:block;">
            <ol class="clearfix visualizeBg">
                <li>
                    <div class="arrow">
                        <img src="../images/blackArrow.png" alt="">
                    </div>
                    <div class="commonLabel lablePic labelActive">
                        <img src="../images/user.png" alt="">
                        <span>形象</span>
                    </div>
                </li>
                <li>
                    <div class="arrow">
                        <img src="../images/blackArrow.png" alt="" style="display: none">
                    </div>
                    <div class="commonLabel lablePic">
                        <img src="../images/bgIcon.png" alt="">
                        <span>背景</span>
                    </div>
                </li>
            </ol>
            <div class="commonLabel nextPage">
                <span class="nextStage">NEXT</span>
                <img src="../images/blackArrow.png" alt="">
            </div>
        </div>

        <!--选择你的标签-->
        <div class="someLabels" style="display:none;">
            <div class="picTitle">
                <img src="../images/bookmarks.png" alt="">
                <span>选择你的标签</span>
            </div>
            <ul class="labelCommon mySummer clearfix">
                <li><span>离开空调会死星人</span></li>
                <li><span>上不完的补课班</span></li>
                <li><span>熬夜小达人</span></li>
            </ul>
            <ul class="labelCommon superAbility clearfix" style="display:none;">
                <li><span>过眼既忘</span></li>
                <li><span>异性透明</span></li>
                <li><span>上课秒睡</span></li>
                <li><span>钱包真空</span></li>
                <li><span>好事绝缘体</span></li>
                <li><span>永远饥饿</span></li>
                <li><span>智障磁铁</span></li>
                <li><span>非洲体制</span></li>
                <li><span>一偷懒必被抓</span></li>
            </ul>
            <ul class="labelCommon xiangRuFeiFei clearfix" style="display:none;">
                <li><span>想吃记忆面包</span></li>
                <li><span>想吃不胖</span></li>
                <li><span>想作业自己完成</span></li>
                <li><span>偷玩电脑毫无痕迹</span></li>
                <li><span>想把把抽SSR</span></li>
            </ul>
            <ul class="labelCommon iLike clearfix" style="display: none;">
                <li><span>吃红领巾</span></li>
                <li><span>咬吸管</span></li>
                <li><span>扣jio做作业</span></li>
                <li><span>桌底鼻屎收藏</span></li>
                <li><span>弹喵的蛋蛋</span></li>
                <li><span>撕桌角捏纸团</span></li>
                <li class="onlyBoy"><span>拉女生胸罩带</span></li>
                <li class="onlyGirl"><span>不爱带胸罩</span></li>
            </ul>
        </div>
        <!--不同的标签切换-->
        <div class="differentLabel clearfix" style="display: none;">
            <ul class="clearfix">
                <li class="activeLabel">
                    <div class="arrows">
                        <img src="../images/blackArrow.png" alt="" style="display:block;">
                    </div>
                    <span>我的暑假</span>
                </li>
                <li>
                    <div class="arrows">
                        <img src="../images/blackArrow.png" alt="" style="display:none;">
                    </div>
                    <span>彷佛超能力</span>
                </li>
                <li>
                    <div class="arrows">
                        <img src="../images/blackArrow.png" alt="" style="display:none;">
                    </div>
                    <span>想入非非</span>
                </li>
                <li>
                    <div class="arrows">
                        <img src="../images/blackArrow.png" alt="" style="display:none;">
                    </div>
                    <span>我就喜欢</span>
                </li>
            </ul>
            <!--生成图片按钮-->
            <div class="isOk">
                <img src="../images/ok.png" alt="">
            </div>
        </div>

        <!--二维码和Logo-->
        <div class="erweimaLogo clearfix" style="display:none;">
            <div class="leftErweima">
                <img src="../images/erweima.png" alt="">
            </div>
            <div class="rightLogo">
                <img src="../images/logo.png" alt="">
            </div>
        </div>

        <!--已经选满了-->
        <div class="fulled">已经选满了</div>
    </div>
</div>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<script src="../js/index.js"></script>
</body>
</html>